# SQL Cheat Sheet

## SELECT Statement
Retrieve specific columns from a table.
```sql
SELECT column1, column2
FROM table_name;
```

## WHERE Clause
Filter rows based on specified conditions.
```sql
SELECT * 
FROM table_name 
WHERE condition;
```

## Logical Operators
Used to combine multiple conditions.
- AND: All conditions must be true.
- OR: At least one condition must be true.
- NOT: Reverses a condition.
```sql
WHERE age > 18 AND state = 'Victoria';
WHERE NOT gender = 'n/a';
```

## BETWEEN
Filter values within a range (inclusive).
```sql
WHERE age BETWEEN 18 AND 25;
```

## IN
Match any value in a specified list.
```sql
WHERE state IN ('Victoria', 'Queensland', 'Tasmania');
```

## LIKE
Pattern matching for text.
- % : Matches any number of characters.
- _ : Matches exactly one character.
```sql
WHERE name LIKE 'A%';   -- Starts with A
WHERE name LIKE '%son'; -- Ends with 'son'
WHERE name LIKE '_at';  -- Matches 'cat', 'bat', etc.
```