In [2]:
import pandas as pd
df = pd.read_excel("splittask.xlsx")
df

                                          ADDR         DT NAME     time
0  45 rd, kenith street, btm, bangalore 500038 2022-04-03  abc  8:30:21
1            45 rd,  street, hitech, Hd 500038 2022-04-02  dec  5:30:21

In [3]:
df

                                          ADDR         DT NAME     time
0  45 rd, kenith street, btm, bangalore 500038 2022-04-03  abc  8:30:21
1            45 rd,  street, hitech, Hd 500038 2022-04-02  dec  5:30:21

In [4]:
# # df[["House Address", "Street", "City", "State", "Zip"]]
# c = 0
# for i in df["ADDR"]:
#     a = lambda x: x.strip()
#     l = list(map(a,df.iloc[c]["ADDR"].split(",")))
#     x = l.pop().split(" ")
#     l.extend(x)
#     df.iloc[c][["House Address", "Street", "City", "State", "Zip"]] = l
#     c+=1
# df.drop("ADDR", axis = 1, inplace= True)

In [5]:


def AddressSplitter(self,c):
    l = [x.strip() for x in df.iloc[c]["ADDR"].split(",")]
    a = l.pop().split(" ")
    l.extend(a)
    return l

address = []
for i in range(len(df.ADDR)):
    address.append(AddressSplitter(0,i))

In [6]:
df.columns

Index(['ADDR', 'DT', 'NAME', 'time'], dtype='object')

In [7]:
df[["House add","Street","City","State","Zip"]] = address
df.drop("ADDR", axis = 1, inplace=True)

In [8]:
df

          DT NAME     time House add         Street    City      State     Zip
0 2022-04-03  abc  8:30:21     45 rd  kenith street     btm  bangalore  500038
1 2022-04-02  dec  5:30:21     45 rd         street  hitech         Hd  500038

In [9]:
def DateSplitter(self,a):
    l = [x.strip(" ") for x in df.iloc[a]["DT"].split("-")]
    return l

In [10]:
df.DT.dtype

dtype('<M8[ns]')

In [11]:
def DateSplitter(self, c):    
    ld = str(df.iloc[c]["DT"]).split("-")
    ld.append(ld.pop().split(" ")[0])
    return [int(x) for x in ld]

dates = []

for i in range(len(df.DT)):
    dates.append(DateSplitter(0,i))

dates

[[2022, 4, 3], [2022, 4, 2]]

In [12]:
df[["Year","Month","Day"]] = dates
df.drop("DT", axis = 1, inplace=True)

In [13]:
df

,NAME,time,House add,Street,City,State,Zip,Year,Month,Day
0,abc,8:30:21,45 rd,kenith street,btm,bangalore,500038,2022,4,3
1,dec,5:30:21,45 rd,street,hitech,Hd,500038,2022,4,2

In [14]:
df.iloc[0]["time"]

'8:30:21'

In [15]:
df.time.dtype

dtype('O')

In [16]:
type(df.iloc[0]["time"])

str

In [17]:
def TimeSplitter(self,c):
    return df.iloc[c]["time"].split(":")

times = []
for i in range(len(df.time)):
    times.append(TimeSplitter(0,i))

times

[['8', '30', '21'], ['5', '30', '21']]

In [22]:
df[["Hrs","Minutes","Seconds"]] = times
df.drop("time", axis = 1, inplace = True)

In [23]:
df

,NAME,House add,Street,City,State,Zip,Year,Month,Day,Hrs,Minutes,Seconds
0,abc,45 rd,kenith street,btm,bangalore,500038,2022,4,3,8,30,21
1,dec,45 rd,street,hitech,Hd,500038,2022,4,2,5,30,21