Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [1]:
#tuple creation

t1 = ()

In [2]:
t2 = (34,56,12)

In [3]:
t3 = (8.3, 6.4, 1.3)

In [4]:
t4 = ("one", "two", "three") #tuple of strings

In [ ]:
t5 = ("Shaik", 34, (3.14, 3.2), (10,20)) #nested tuples

In [5]:
t7 = ('Waseem', 45 ,[78, 92],[86, 43] , {'Rahul' , 'Dravid'} , (81,24,31))
len(t7)

6

In [6]:
#tuple indexing

t2[0]

34

In [7]:
#nested indexing - access first character of first tuple element
t4[0][0]

'o'

In [9]:
t4[-1] #last item

'three'

In [10]:
#tuple slicing 

t8= ("one", "two", "three", "four", "five", "six", "seven", "eight", "nine")

In [11]:
t8[0:3]

('one', 'two', 'three')

In [12]:
t8[2:5]

('three', 'four', 'five')

In [13]:
t8[:2]

('one', 'two')

In [14]:
t8[4:]

('five', 'six', 'seven', 'eight', 'nine')

In [15]:
t8[-1]

'nine'

In [16]:
t8[-2]

'eight'

In [17]:
t8[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [18]:
#Remove and Change items

t8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [19]:
del t8[0] #immutable

TypeError: 'tuple' object doesn't support item deletion

In [20]:
t8[2] = 21

TypeError: 'tuple' object does not support item assignment

In [21]:
del t8 #deleting the entire tuple

In [23]:
#loop through a tuple

t8= ("one", "two", "three", "four", "five", "six", "seven", "eight", "nine")

In [24]:
for i in t8:
    print(i)

one
two
three
four
five
six
seven
eight
nine

In [25]:
for i in enumerate(t8):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

In [26]:
#Count

t8 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three', "four", 'five', 'six', 'seven')
t8.count("one")

3

In [27]:
t8.count("four")

1

In [28]:
#Tuple membership

'one' in t8

True

In [29]:
'ten' in t8

False

In [ ]:
if 'ten' in t8:
    print('ten present')
else:
    print('ten absent')

In [30]:
#Index position
t8

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [32]:
t8.index('four')

3

In [33]:
t8.index('one')

0

In [34]:
t8.index('three')

2

In [35]:
#sorting

t9 = (45,89,32,16,78,43)
sorted(t9)

[16, 32, 43, 45, 78, 89]

In [36]:
sorted(t9, reverse = True)

[89, 78, 45, 43, 32, 16]

Sets

- Unordered and Unidexed collection of items.
- Set elements are unique. Duplicate elements are not allowed.
- Set elements are immutable.
- Set itself is mutable. We can add or remove items from it.

In [37]:
set = {1,2,3,4,5} #set of numbers
set

{1, 2, 3, 4, 5}

In [38]:
len(set)

5

In [41]:
set2 = {1,1,1,2,2,2,2,3,3,4,4,4,4,5,5,5}
set2

{1, 2, 3, 4, 5}

In [42]:
set2= {1.4, 3.6, 8.9, 3.1}
set2

{1.4, 3.1, 3.6, 8.9}

In [44]:
set3 = {10.4,2.9, "Hello", (61, 32, 9)}
set3

{(61, 32, 9), 10.4, 2.9, 'Hello'}

In [46]:
#set does not allow mutable items
set4 = {10.4,2.9, "Hello", [61, 32, 9]}
set4

TypeError: unhashable type: 'list'

In [48]:
set5 = set(("one", "two", "three", "four"))

TypeError: 'set' object is not callable