In [20]:
import sys
sys.version

'3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]'

In [21]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [22]:
len(keyword.kwlist)

35

<p> These 35 keywords are enough to learn entirety of Python </p>

In [23]:
a = 5
a

5

In [24]:
type(a)

int

In [25]:
id(a)

140734803331640

In [26]:
b = 5.5
b

5.5

In [27]:
type(b)

float

In [28]:
age = 25
print(age)

25

In [29]:
name = "Alice"
print(name)

Alice

In [30]:
prize = 19.95
print(prize)

19.95

In [31]:
def AreaofRectangle(length, width):
    return length * width  

AreaofRectangle(5, 10)

50

<font color = "Brown">8th January</font>

* Rules to define variables in python
* Types of data - structured , unstructured

<font color = "Brown">9th January, 2025</font>

* Data types, primitive data types namely - int, float, string, complex, boolean.
    * You can do mathematical operations with boolean values.
* Complex data type of syntax a + bj (This data type is not in Java)
    * a : real part, b : imaginary part, j = âˆš-1
* Python is a dynamic programming language

In [32]:
f2 = 3e1  #vaulue of e = 10, interesting 
f2

30.0

In [33]:
f3 = 3e-1
f3

0.3

In [34]:
f4 = 2.3e4
f4

23000.0

In [35]:
True + False + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [9]:
True + False

1

In [10]:
False + 5

5

In [12]:
True + 7

8

In [14]:
True + True

2

In [15]:

True + False * True - False

1

In [18]:
# Using print statement to print the output
num1 = 20
num2 = 30
add = num1 + num2
print("The addition of",num1,"and",num2,"is =",add)

The addition of 20 and 30 is = 50

In [20]:
#complex data type
a = 10+20j
b = 30+40j
a+b

(40+60j)

In [21]:
a-b

(-20-20j)

In [26]:
a.real #real part of a

10.0

In [27]:
b.imag #imaginary part of b

40.0

<font color = "brown">10th January</font>

* Strings data type :
    * Triple quotes are used for multi-line string
* String index is divided into two parts:
    * Forward Indexing - starts with 0 from first character (left to right)
    * Backward Indexing - starts with -1 from last character (right to left)
* Python Operators
    * Arithmetic Operator
    * Assignment Operator
    * Relational Operator
    * Logical Operator
    * Unary Operator
* Forward and Backward Indexing

In [5]:
s = "NareshIT"
s

'NareshIT'

In [7]:
for i in s:
    print(i)    #by default 4 spaces for identation
                #in the backend iter and next method are called when you use for loop

N
a
r
e
s
h
I
T

In [8]:
s[3]

'e'

In [9]:
s[-3]

'h'

In [11]:
s[-5]

'e'

In [10]:
s[110] #index not present

IndexError: string index out of range

In [14]:
s[3:7]

'eshI'

In [15]:
s[-7:6]

'aresh'

In [18]:
s[0:7:2]

'NrsI'

In [21]:
#NareshIT
s[::-1]

'TIhseraN'

In [23]:
s[5::-1]

'hseraN'

In [25]:
s1 = "Hello"
s2 = " World"

s1+s2

'Hello World'

In [26]:
#MAGIC METHOD

a = 5
b = 6

print(a+b)

11

In [27]:
int.__add__(a,b) #this is going ine background when you use + operator

11

In [28]:
int.__sub__(a,b)

-1

In [29]:
int.__mul__(a,b)

30

In [30]:
int.__divmod__(a,b)

(0, 5)

In [ ]:
#Magic method is OOPS concept 
#__add__
#__sub__
#__mul__
#__div__

In [32]:
help()

Welcome to Python 3.12's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [34]:
help()

Welcome to Python 3.12's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

<font color = "Brown">17th January 2025</font>

* Type Casting : Convert from one data type to another
    * int() : Every other data type to integer except complex
    * float() : Every other data type to float except complex
    * <font color = "purple">While typecasting you can only pass only one argument to the function </font>
    * complex() : pretty simple refer code below.
    * str() and bool()
* Data structures :
     * inbuilt data structure or built-in
        * list
        * tuple
        * set
        * dict
    * User defined datastructure
        * Stack
        * linked list 
        * Queue 
        * Array 
        * Trees
* __init__ : Constructor. This allocates memory variables of different type and structure.

In [1]:
int(2.3)  #float to integer

2

In [ ]:
int(true)  #Case sensitive

NameError: name 'true' is not defined

In [4]:
int(True) #bool to integer

1

In [5]:
int(1+2j)  #complex to integer casting not allowed

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
int("10") #String to integer

10

In [11]:
int("Tem")

ValueError: invalid literal for int() with base 10: 'Tem'

In [7]:
float(100)

100.0

In [8]:
float(0)

0.0

In [9]:
float(1+2j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [12]:
float("Tem")

ValueError: could not convert string to float: 'Tem'

In [10]:
str(1+2j)

'(1+2j)'

In [13]:
int(10.3,56.9)

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
float(10, 56, 98)

TypeError: float expected at most 1 argument, got 3

In [15]:
complex(1)

(1+0j)

In [16]:
complex(1,3)

(1+3j)

In [17]:
complex(1,3,4)

TypeError: complex() takes at most 2 arguments (3 given)

In [18]:
complex(10.2, 20)

(10.2+20j)

In [19]:
complex(10.5, 7.8)

(10.5+7.8j)

In [20]:
complex("1", "2")

TypeError: complex() can't take second arg if first is a string

In [21]:
complex("1,2")

ValueError: complex() arg is a malformed string

In [22]:
complex("1")

(1+0j)

In [23]:
complex("1 3")

ValueError: complex() arg is a malformed string

In [24]:
complex(True, True)

(1+1j)

In [25]:
complex(False, True)

1j

In [1]:
str(10.10)

'10.1'

In [2]:
str(True)

'True'

In [3]:
str(False)

'False'

In [4]:
str(1+9j)

'(1+9j)'

In [5]:
bool(10)

True

In [6]:
bool(13.90)

True

In [7]:
bool("Teri behen ki")

True

In [8]:
bool("")

False

In [9]:
bool(0.0)

False

In [10]:
bool(0)

False

In [11]:
bool()

False

In [12]:
bool(1+3j)

True

In [13]:
help(complex)

Help on class complex in module builtins:

class complex(object)
 |  complex(real=0, imag=0)
 |
 |  Create a complex number from a real part and an optional imaginary part.
 |
 |  This is equivalent to (real + imag*1j) where imag defaults to 0.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __complex__(self, /)
 |      Convert this value to exact type complex.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  conjugate(self, /)
 |      Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [14]:
bool("nut")

True

Data Structure - collection of data types

Matrix - Is a collection of Data structure

<font color = "Brown">18th January 2025</font>

* Github Creation
* Type of Operators (Completed)
    * Arithmetic Operators
    * Assigment Operators
    * Unary Operators
    * Relational Operators
    * Logical Operators

<font color = "Brown">27th January 2025</font>

- .ipynb : interactive python notebook.
- Python Data Structure : In data type we define only one values, data structure are used for more than one values. Matrix is collection of Data Structure and Data structure are collection of data types.
    - in-bulit DS - list, set, tuple, dict
    - User defined DS
- List Datastructure 
    - append(): add value to the end of the list. Mulitple data type is allowed in list.
    - copy(): copies values of one list to another.
    - remove(): removes first ocuurence of the value.
    - insert(): insert an element left of an index/.
    - reverse(): reverses the list.
    - extend(): extend list by appending elements from a iterable
    - count(): return number of occurence of a value.
    - pop(): Remove and return item at index (default last).
    - insert(): Insert object before index.

- List indexing and slicing: same as string.
    - Forward indexing: left to right
    - Backward indexing: right to left

In [70]:
l = []
len(l)
l.inser

0

In [42]:
l.append(10)

In [43]:
len(l)

1

In [44]:
l.append(10,20,30)

TypeError: list.append() takes exactly one argument (3 given)

In [9]:
l.extend([50,40,30])

In [10]:
l

[10, 50, 40, 30, 50, 40, 30, 50, 40, 30]

In [11]:
l1 = []
l1.append(19)
l1.append(2.5)
l1.append(True)
l1.append(1+3j)
l1.append([8,9,10])

In [13]:
print(l,l1)

[10, 50, 40, 30, 50, 40, 30, 50, 40, 30] [19, 2.5, True, (1+3j), [8, 9, 10]]

In [15]:
print(id(l), id(l1))

3227565347712 3227565354496

In [18]:
print(len(l), len(l1))

10 5

In [17]:
l2 = l1.copy()
print(l2)

[19, 2.5, True, (1+3j), [8, 9, 10]]

In [19]:
l1 == l2

True

In [20]:
l == l2

False

In [21]:
l != l2

True

In [22]:
print(id(l1), id(l2))

3227565354496 3227571654976

In [26]:
a = 5
b = 5
print(id(a), id(b))

140734138010168 140734138010168

In [27]:
c = 5
print(id(a), id(b), id(c))

140734138010168 140734138010168 140734138010168

In [28]:
#Interesting - expore this further

In [29]:
l

[10, 50, 40, 30, 50, 40, 30, 50, 40, 30]

In [ ]:
l.remove(40) #removes first occurence of the value
l

NameError: name 'l' is not defined

In [2]:
l.insert(0,"j")

NameError: name 'l' is not defined

In [32]:
s = "NareshIT"
s[2:7]

'reshI'

In [34]:
s[7] #does not inclued the last index in range

'T'

In [36]:
s[-5:-1]

'eshI'

In [37]:
print(s[-5], s[-1])

e T

In [38]:
s8 = "abcdefghi"
s8[1:3]

'bc'

In [39]:
s8.index("i")

8

In [40]:
s8[1:9]

'bcdefghi'

In [61]:
l = [10,34,67,12,3,12,18]
l.insert(0,10)
l.insert(-1,89)
l

[10, 10, 34, 67, 12, 3, 12, 89, 18]

In [62]:
l.remove(10)
l

[10, 34, 67, 12, 3, 12, 89, 18]

In [64]:
l

[18, 89, 12, 3, 12, 67, 34, 10]

In [65]:
l.reverse()
l

[10, 34, 67, 12, 3, 12, 89, 18]

In [67]:
l[::-1]   #similar to string reversing

[18, 89, 12, 3, 12, 67, 34, 10]

In [69]:
l.extend([90,80,12,32,45,18])
l.count(12)

4

In [36]:
l = [10, 50, 40, 30, 50, 40, 30, 50, 40, 30]
l.count(40)

3

In [38]:
l2 = [19, 2.5, True, (1+3j), [8, 9, 10]]
l2[5:]

[]

In [39]:
l[::-2]

[30, 50, 40, 30, 50]

In [40]:
l[:-1]

[10, 50, 40, 30, 50, 40, 30, 50, 40]

In [41]:
l.index(40)

2

In [45]:
l2

[19, 2.5, True, (1+3j), [8, 9, 10]]

In [42]:
id(l2)

1806736790144

In [43]:
len(l2)

5

In [46]:
id(l2)

1806736790144

In [53]:
del l2

In [54]:
l2

NameError: name 'l2' is not defined

In [ ]:
l2 = [19, 2.5, True, (1+3j), [8, 9, 10]]
l2.pop()

In [55]:
l

[10, 50, 40, 30, 50, 40, 30, 50, 40, 30]

In [57]:
l.insert(2,25)
l

[10, 50, 25, 25, 40, 30, 50, 40, 30, 50, 40, 30]

In [60]:
for i in enumerate(l):
    print(i)

(0, 10)
(1, 50)
(2, 25)
(3, 25)
(4, 40)
(5, 30)
(6, 50)
(7, 40)
(8, 30)
(9, 50)
(10, 40)
(11, 30)

<font color = "Brown">28th January 2025</font>

- Revision of Python Basics and Operators.
- Number system conversion in python. 
    - Binary system: base value is 2 (0 &1)
    - Octal system: base value is 8 (0-7)
    - Decimal system: base value is 10 (0-9)
    - Hexa Decimal system : base value is 16 (0-9, a(11),b(12),c(13),d(14),e(15),f(16))
        - IP addresses are in Hexa Decimal System.

In [47]:
#binary of a number
bin(25)

#answer is 1101 - 0b is added to signify binary

'0b11001'

In [48]:
bin(30)

'0b11110'

<font color = "Brown">29th January 2025</font>

- Number System - conversion of integers to different number systems
- List indexing and slicing

In [49]:
#binary number system 

bin(25)

'0b11001'

In [50]:
int(0b11001)

25

In [51]:
bin(35)

'0b100011'

In [52]:
bin(4.5)

TypeError: 'float' object cannot be interpreted as an integer

In [6]:
bin("string")

TypeError: 'str' object cannot be interpreted as an integer

In [7]:
oct(25)

'0o31'

In [12]:
a = _
a
int(a)

ValueError: invalid literal for int() with base 10: '0o31'

In [13]:
type(oct(25))

str

In [14]:
hex(1)

'0x1'

In [15]:
hex(12)

'0xc'

In [16]:
hex(256)

'0x100'

In [17]:
hex(999)

'0x3e7'

$3 * 16^2 + 14 * 16^1 + 7 * 16^0$\
$768 + 224 + 7$\
$999$

In [18]:
#swapping variables

a = 5
b = 6

a,b = b,a #rot_two() is working in the background ???????????

<font color = "Brown">30th January 2025</font>

- List
    - sorting :list should have elements with same data types.
    - all list methods are completed.
- Bitwise Operator
- Pythhon code using CLI (command line iterator)
- Tuple : Only two methods. Tuples are immutable.
    - count(): Return number of occurences of value
    - index(): Returns first index of value
    - Index slicing is allowed.

In [7]:
import numpy as np
type(np.nan)

float

In [9]:
#lsit sorting 
l = [400, 30, 20 ,97, 32]
l.sort() #parameter tuning
l

[20, 30, 32, 97, 400]

In [10]:
l.sort(reverse = True) #hyper parameter tuning
l

[400, 97, 32, 30, 20]

In [12]:
l2 = ["z", "a", "m", "j"]
l2.sort()
l2

['a', 'j', 'm', 'z']

In [14]:
l2.sort(reverse= True)
l2

['z', 'm', 'j', 'a']

In [16]:
l2.extend(l)
l2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [17]:
int.__add__(2,3)

5

In [18]:
int.__sub__(4,5)

-1

In [19]:
int.__mul__(3,8)

24

In [20]:
#Tuple 

t = () #empty tuple

In [22]:
t1 = 3,5,59,27,2,5, 7, 9, 5
t1

(3, 5, 59, 27, 2)

In [23]:
type(t1)

tuple

In [24]:
t1.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [25]:
t1.count(5)

1

In [26]:
t1.index(59)

2

In [31]:
t1 * 3

(3, 5, 59, 27, 2, 3, 5, 59, 27, 2, 3, 5, 59, 27, 2)

In [32]:
t1[:2]

(3, 5)

In [33]:
t1[:10]

(3, 5, 59, 27, 2)

In [34]:
t1[0]

3

In [35]:
for i in enumerate(t1):
    print(i)

(0, 3)
(1, 5)
(2, 59)
(3, 27)
(4, 2)

In [36]:
for i in t1:
    print(i)

3
5
59
27
2