### List

1. List is an ordered sequence of items.
2. We can have different data types under a list. Ex: we can have integer, float and string items in the same list

In [1]:
#list creation

l1 = []
print(type(l1))

<class 'list'>

In [2]:
l2 = [10,30,50]   #list of integer numbers
l3 = [10.77, 30.66, 60.89]  #list of float numbers
l4 = ["one", "two", "three"]  #string list
l5 = ["Asif",25, [50, 100], [150, 90]]  #nested list and mixed data type

len(l5)

4

### List Indexing

In [3]:
l5[2][1] #nested indexing

100

In [4]:
l4[-1] #last item of a list

'three'

### List Slicing

In [5]:
l6 = ["one", "two", "three", "four", "five", "six", "seven", "eight"]
l6[0:3] #list all items from 0th to 3rd index location excluding the last index

['one', 'two', 'three']

In [6]:
l6[2:5] #list all items from 2md to 5th index

['three', 'four', 'five']

In [8]:
l6[:3] #first three items

['one', 'two', 'three']

In [9]:
l6[-3:] #last three items

['six', 'seven', 'eight']

In [10]:
l6[:] #return the entire list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add remove and change items

In [11]:
l6

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [12]:
l6.append("nine") #add to end of list
l6

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [14]:
l6.insert(9,"ten") #addd item at index location 9
l6

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten']

In [15]:
l6.remove("one") #remove item one
l6

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'ten']

In [16]:
l6.pop() #remove last item from the list 
l6

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [17]:
l6.pop(8) #remove item at index 8

'ten'

In [18]:
l6

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [20]:
del l6[5] #delete item at index 5
l6

['two', 'three', 'four', 'five', 'six', 'nine']

In [22]:
# Change value of the string

l6[0] = 2
l6[1] = 3
l6[2] = 4

l6

[2, 3, 4, 'five', 'six', 'nine']

In [23]:
l6.clear() #empty the list

In [24]:
del l6 #delete the list altogethere
l6

NameError: name 'l6' is not defined

### Copy List

In [25]:
l6 = ["one", "two", "three", "four", "five", "six", "seven", "eight"]
l7 = l6

In [26]:
id(l7) , id(l6)  #id of both the list will be same

(2035274315008, 2035274315008)

In [28]:
l8 = l6.copy()
l8, id(l8) #address of l8 different

(['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'],
 2035274440576)

In [30]:
l6[0] = 1
l6

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [31]:
l7 #l7 is also impacted since both  l6 and l7 are pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
l8 #copied list is not impacted since it is at different memory location

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Join Lists

In [35]:

l1 = ["one", "two", "three", "four"]
l2 = ["five", "six", "seven", "eight"]
l3 = l1 + l2
l3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [37]:
l1.extend(l2)
l1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

### List Membership

In [38]:
l1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [39]:
"one" in l1 #check if one exist in l1

True

In [40]:
"ten" in l1

False

In [41]:
if "three" in l1:
    print("three is in l1")
else:
    print("three not in l1")

three is in l1

### Reverse and Sorted List

In [42]:
l1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [43]:
l1.reverse()  #reverse the list 
l1

['eight',
 'seven',
 'six',
 'five',
 'eight',
 'seven',
 'six',
 'five',
 'four',
 'three',
 'two',
 'one']

In [44]:
l1 = l1[::-1] #Reverse the list
l1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [45]:
l2 = [9,5,2,99,12,88,34]
l2.sort() #sort in ascending order
l2

[2, 5, 9, 12, 34, 88, 99]

In [47]:
l2.sort(reverse= True) #sort in descending order
l2

[99, 88, 34, 12, 9, 5, 2]

In [48]:
l3 = [9,5,2,99,12,88,34]
sorted(l3) #returns a new sorted list and doesn't change original list

[2, 5, 9, 12, 34, 88, 99]

In [49]:
l3

[9, 5, 2, 99, 12, 88, 34]

### Loop through a list

In [2]:
l1 = ["one", "two", "three", "four","five", "six", "seven", "eight"]
for i in l1:
    print(i)

one
two
three
four
five
six
seven
eight

In [3]:
for i in enumerate(l1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [6]:
l2 = l1.copy()
l2.insert(5,"one")
l2.insert(9,"one")
l2.insert(3,"one")
l2

['one',
 'two',
 'three',
 'one',
 'four',
 'five',
 'one',
 'six',
 'seven',
 'eight',
 'one']

In [7]:
l2.count("one")

4

### All/Any

The all() method returns:
- True : if all the elements in a list are true.
- False : if any elements in a list is false.

The any() ufnciton retrurns True if any element in the list True. If not, any() returns False.

In [8]:
l1 = [1,2,3,4,0,5,5]
all(l1)

False

In [9]:
any(l1)

True

In [10]:
l2 = [1,2,3,4,True,False]
all(l2)

False

In [11]:
any(l2)

True

In [12]:
l3 = [1,2,3,True]
all(l3)

True