In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:

avocado = pd.read_csv( "avocado.csv", parse_dates= True, index_col="Date")
avocado.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [58]:
avocado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18249 entries, 2015-12-27 to 2018-01-07
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  year          18249 non-null  int64
 12  region        18249 non-null  object
dtypes: float64(9), int64(2), object(2)
memory usage: 1.9+ MB

In [59]:
avocado.to_csv("test_write.csv")

In [60]:
avocado.shape

(18249, 13)

In [61]:
avocado.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [62]:
avocado.sort_values(["AveragePrice", "year"], ascending=[True,False])

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2017-03-05,43,0.44,64057.04,223.84,4748.88,0.00,59084.32,638.68,58445.64,0.00,organic,2017,CincinnatiDayton
2017-02-05,47,0.46,2200550.27,1200632.86,531226.65,18324.93,450365.83,113752.17,330583.10,6030.56,conventional,2017,PhoenixTucson
2017-03-05,43,0.48,50890.73,717.57,4138.84,0.00,46034.32,1385.06,44649.26,0.00,organic,2017,Detroit
2017-02-26,44,0.49,44024.03,252.79,4472.68,0.00,39298.56,600.00,38698.56,0.00,organic,2017,CincinnatiDayton
2015-12-27,0,0.49,1137707.43,738314.80,286858.37,11642.46,100891.80,70749.02,30142.78,0.00,conventional,2015,PhoenixTucson
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-27,18,3.04,12656.32,419.06,4851.90,145.09,7240.27,6960.97,279.30,0.00,organic,2017,RaleighGreensboro
2017-03-12,42,3.05,2068.26,1043.83,77.36,0.00,947.07,926.67,20.40,0.00,organic,2017,MiamiFtLauderdale
2016-11-06,7,3.12,19043.80,5898.49,10039.34,0.00,3105.97,3079.30,26.67,0.00,organic,2016,SanFrancisco
2017-04-16,37,3.17,3018.56,1255.55,82.31,0.00,1680.70,1542.22,138.48,0.00,organic,2017,Tampa
2016-10-30,8,3.25,16700.94,2325.93,11142.85,0.00,3232.16,3232.16,0.00,0.00,organic,2016,SanFrancisco

In [63]:
avocado["AveragePrice"]

Date
2015-12-27    1.33
2015-12-20    1.35
2015-12-13    0.93
2015-12-06    1.08
2015-11-29    1.28
              ...
2018-02-04    1.63
2018-01-28    1.71
2018-01-21    1.87
2018-01-14    1.93
2018-01-07    1.62
Name: AveragePrice, Length: 18249, dtype: float64

In [64]:
avocado[["AveragePrice", "Small Bags"]]

            AveragePrice  Small Bags
Date
2015-12-27          1.33     8603.62
2015-12-20          1.35     9408.07
2015-12-13          0.93     8042.21
2015-12-06          1.08     5677.40
2015-11-29          1.28     5986.26
...                  ...         ...
2018-02-04          1.63    13066.82
2018-01-28          1.71     8940.04
2018-01-21          1.87     9351.80
2018-01-14          1.93    10919.54
2018-01-07          1.62    11988.14

[18249 rows x 2 columns]

In [65]:
avocado.AveragePrice > 1

Date
2015-12-27     True
2015-12-20     True
2015-12-13    False
2015-12-06     True
2015-11-29     True
              ...
2018-02-04     True
2018-01-28     True
2018-01-21     True
2018-01-14     True
2018-01-07     True
Name: AveragePrice, Length: 18249, dtype: bool

In [66]:
avocado[avocado.AveragePrice > 1]

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
2015-11-22,5,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [67]:
avocado.type == "conventional"

Date
2015-12-27     True
2015-12-20     True
2015-12-13     True
2015-12-06     True
2015-11-29     True
              ...
2018-02-04    False
2018-01-28    False
2018-01-21    False
2018-01-14    False
2018-01-07    False
Name: type, Length: 18249, dtype: bool

In [68]:
avocado.type.unique()

array(['conventional', 'organic'], dtype=object)

In [69]:
avocado.type == "organic"

Date
2015-12-27    False
2015-12-20    False
2015-12-13    False
2015-12-06    False
2015-11-29    False
              ...
2018-02-04     True
2018-01-28     True
2018-01-21     True
2018-01-14     True
2018-01-07     True
Name: type, Length: 18249, dtype: bool

In [70]:
avocado[avocado.type == "organic"]

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.83,989.55,8.16,88.59,0.00,892.80,892.80,0.00,0.0,organic,2015,Albany
2015-12-20,1,1.89,1163.03,30.24,172.14,0.00,960.65,960.65,0.00,0.0,organic,2015,Albany
2015-12-13,2,1.85,995.96,10.44,178.70,0.00,806.82,806.82,0.00,0.0,organic,2015,Albany
2015-12-06,3,1.84,1158.42,90.29,104.18,0.00,963.95,948.52,15.43,0.0,organic,2015,Albany
2015-11-29,4,1.94,831.69,0.00,94.73,0.00,736.96,736.96,0.00,0.0,organic,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [92]:
avocado["Dates"] = avocado.index
avocado.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Dates,new_dates
Date,,,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,2015-12-27,NaT
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,2015-12-20,NaT
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,2015-12-13,NaT
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,2015-12-06,NaT
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,2015-11-29,NaT

In [98]:
avocado["Dates"] = avocado["Dates"].astype(str)
avocado["Dates"] = pd.to_datetime(avocado["Dates"]).dt.date
avocado.head()
del avocado["new_dates"]

In [102]:
avocado.reset_index("Date", drop=True)
avocado.set_index("Dates", drop= True)

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Dates,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [104]:
avocado[(avocado.index < "2015-02-04") & (avocado["type"] == "conventional")]

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Dates
Date,,,,,,,,,,,,,,
2015-02-01,47,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany,2015-02-01
2015-01-25,48,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany,2015-01-25
2015-01-18,49,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany,2015-01-18
2015-01-11,50,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany,2015-01-11
2015-01-04,51,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany,2015-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-02-01,47,0.71,916367.42,611270.39,205181.23,14107.36,85808.44,82065.70,3742.74,0.0,conventional,2015,WestTexNewMexico,2015-02-01
2015-01-25,48,0.80,720800.61,519142.82,124248.86,10573.29,66835.64,65072.69,1762.95,0.0,conventional,2015,WestTexNewMexico,2015-01-25
2015-01-18,49,0.80,729795.72,516446.41,128438.87,12473.14,72437.30,71564.22,873.08,0.0,conventional,2015,WestTexNewMexico,2015-01-18
2015-01-11,50,0.92,584896.99,347125.63,129717.42,27944.07,80109.87,78503.46,1606.41,0.0,conventional,2015,WestTexNewMexico,2015-01-11
2015-01-04,51,0.75,758118.95,426878.87,147958.43,15267.89,168013.76,165202.22,2811.54,0.0,conventional,2015,WestTexNewMexico,2015-01-04

In [105]:
avocado.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [117]:
region_filter = avocado["region"].isin(["NewOrleansMobile","NewYork", "Northeast"])
avocado[region_filter]

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Dates
Date,,,,,,,,,,,,,,
2015-12-27,0,0.91,187664.29,105570.93,18655.62,284.70,63153.04,53908.72,9224.82,19.50,conventional,2015,NewOrleansMobile,2015-12-27
2015-12-20,1,0.92,191937.02,110266.94,18630.27,255.72,62784.09,57100.55,5619.06,64.48,conventional,2015,NewOrleansMobile,2015-12-20
2015-12-13,2,0.86,204217.20,119689.49,31214.29,437.88,52875.54,44564.80,8310.74,0.00,conventional,2015,NewOrleansMobile,2015-12-13
2015-12-06,3,0.94,185395.20,117854.69,21553.04,325.00,45662.47,41822.80,3839.67,0.00,conventional,2015,NewOrleansMobile,2015-12-06
2015-11-29,4,0.90,175833.54,96662.75,23572.73,298.68,55299.38,49172.32,6127.06,0.00,conventional,2015,NewOrleansMobile,2015-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.66,273309.58,16597.29,41306.63,766.14,214639.52,188630.21,26009.31,0.00,organic,2018,Northeast,2018-02-04
2018-01-28,8,1.56,319174.35,23903.56,45738.71,143.80,249388.28,242631.48,6756.80,0.00,organic,2018,Northeast,2018-01-28
2018-01-21,9,1.75,215742.94,11683.16,26922.85,162.73,176974.20,167900.81,9073.39,0.00,organic,2018,Northeast,2018-01-21
2018-01-14,10,1.67,272690.13,14282.25,33534.86,58.59,224814.43,206708.26,18106.17,0.00,organic,2018,Northeast,2018-01-14
2018-01-07,11,1.75,264448.77,11605.47,35898.69,55.76,216888.85,205469.10,11419.75,0.00,organic,2018,Northeast,2018-01-07

In [116]:
avocado[avocado["region"] == "NewOrleansMobile"]

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Dates
Date,,,,,,,,,,,,,,
2015-12-27,0,0.91,187664.29,105570.93,18655.62,284.70,63153.04,53908.72,9224.82,19.50,conventional,2015,NewOrleansMobile,2015-12-27
2015-12-20,1,0.92,191937.02,110266.94,18630.27,255.72,62784.09,57100.55,5619.06,64.48,conventional,2015,NewOrleansMobile,2015-12-20
2015-12-13,2,0.86,204217.20,119689.49,31214.29,437.88,52875.54,44564.80,8310.74,0.00,conventional,2015,NewOrleansMobile,2015-12-13
2015-12-06,3,0.94,185395.20,117854.69,21553.04,325.00,45662.47,41822.80,3839.67,0.00,conventional,2015,NewOrleansMobile,2015-12-06
2015-11-29,4,0.90,175833.54,96662.75,23572.73,298.68,55299.38,49172.32,6127.06,0.00,conventional,2015,NewOrleansMobile,2015-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.35,8345.08,196.63,121.26,0.00,8027.19,7856.66,170.53,0.00,organic,2018,NewOrleansMobile,2018-02-04
2018-01-28,8,1.43,8245.33,258.61,212.78,0.00,7773.94,7341.10,432.84,0.00,organic,2018,NewOrleansMobile,2018-01-28
2018-01-21,9,1.42,5509.30,259.52,123.76,0.00,5126.02,5035.55,90.47,0.00,organic,2018,NewOrleansMobile,2018-01-21
2018-01-14,10,1.42,7130.97,158.28,101.58,0.00,6871.11,6847.77,23.34,0.00,organic,2018,NewOrleansMobile,2018-01-14
2018-01-07,11,1.43,6860.00,122.51,161.19,0.00,6576.30,6528.88,47.42,0.00,organic,2018,NewOrleansMobile,2018-01-07