Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [1]:
#tuple creation

t1 = ()

In [2]:
t2 = (34,56,12)

In [3]:
t3 = (8.3, 6.4, 1.3)

In [4]:
t4 = ("one", "two", "three") #tuple of strings

In [5]:
t5 = ("Shaik", 34, (3.14, 3.2), (10,20)) #nested tuples

In [6]:
t7 = ('Waseem', 45 ,[78, 92],[86, 43] , {'Rahul' , 'Dravid'} , (81,24,31))
len(t7)

6

In [7]:
#tuple indexing

t2[0]

34

In [8]:
#nested indexing - access first character of first tuple element
t4[0][0]

'o'

In [9]:
t4[-1] #last item

'three'

In [10]:
#tuple slicing 

t8= ("one", "two", "three", "four", "five", "six", "seven", "eight", "nine")

In [11]:
t8[0:3]

('one', 'two', 'three')

In [12]:
t8[2:5]

('three', 'four', 'five')

In [13]:
t8[:2]

('one', 'two')

In [14]:
t8[4:]

('five', 'six', 'seven', 'eight', 'nine')

In [15]:
t8[-1]

'nine'

In [16]:
t8[-2]

'eight'

In [17]:
t8[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [18]:
#Remove and Change items

t8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [19]:
del t8[0] #immutable

TypeError: 'tuple' object doesn't support item deletion

In [20]:
t8[2] = 21

TypeError: 'tuple' object does not support item assignment

In [21]:
del t8 #deleting the entire tuple

In [ ]:
#loop through a tuple

t8= ("one", "two", "three", "four", "five", "six", "seven", "eight", "nine")

In [24]:
for i in t8:
    print(i)

one
two
three
four
five
six
seven
eight
nine

In [25]:
for i in enumerate(t8):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

In [26]:
#Count

t8 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three', "four", 'five', 'six', 'seven')
t8.count("one")

3

In [27]:
t8.count("four")

1

In [28]:
#Tuple membership

'one' in t8

True

In [29]:
'ten' in t8

False

In [ ]:
if 'ten' in t8:
    print('ten present')
else:
    print('ten absent')

In [30]:
#Index position
t8

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [32]:
t8.index('four')

3

In [33]:
t8.index('one')

0

In [34]:
t8.index('three')

2

In [35]:
#sorting

t9 = (45,89,32,16,78,43)
sorted(t9)

[16, 32, 43, 45, 78, 89]

In [36]:
sorted(t9, reverse = True)

[89, 78, 45, 43, 32, 16]

Sets

- Unordered and Unidexed collection of items.
- Set elements are unique. Duplicate elements are not allowed.
- Set elements are immutable.
- Set itself is mutable. We can add or remove items from it.

In [57]:
s = {1,2,3,4,5} #set of numbers
s

{1, 2, 3, 4, 5}

In [63]:
len(s)

5

In [64]:
set2 = {1,1,1,2,2,2,2,3,3,4,4,4,4,5,5,5}
set2

{1, 2, 3, 4, 5}

In [65]:
set2= {1.4, 3.6, 8.9, 3.1}
set2

{1.4, 3.1, 3.6, 8.9}

In [66]:
set3 = {10.4,2.9, "Hello", (61, 32, 9)}
set3

{(61, 32, 9), 10.4, 2.9, 'Hello'}

In [ ]:
#set does not allow mutable items
set4 = {10.4,2.9, "Hello", [61, 32, 9]}
set4

TypeError: unhashable type: 'list'

In [22]:
s5  = set()
s5 = ("one", "two", "three", "four")
s5

('one', 'two', 'three', 'four')

In [24]:
#Loop through a set

s6 = {"one", "two", "three", "four", "five", "six", "seven", "eight"}

for i in s6:
    print(i)

one
six
five
seven
three
two
four
eight

In [25]:
for i in enumerate(s6):
    print(i)

(0, 'one')
(1, 'six')
(2, 'five')
(3, 'seven')
(4, 'three')
(5, 'two')
(6, 'four')
(7, 'eight')

In [26]:
#set membership

s6

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
"six" in s6

True

In [28]:
"one" in s6

True

In [31]:
#add and remove items

s6

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [36]:
s6.update(["ten", "eleven", "twelve", "nine"]) #add multiple items
s6

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [37]:
s6.remove('nine')
s6

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [40]:
s6.discard("eleven")
s6

{'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [41]:
s6.clear()

In [42]:
del s6

In [50]:
#copy set

s7 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
s7

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [51]:
s8 = s7
s8

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [52]:
id(s8), id(s7)

(2338505104896, 2338505104896)

In [53]:
s9 = s7.copy() #create a copy of the list

In [54]:
id(s9), id(s7) #now addresses are different

(2338505102656, 2338505104896)

In [55]:
s7.add("nine")
s7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [56]:
s8 #s8 is also affected since they both point to the same location in the memory

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [57]:
s9

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [58]:
#Set Operation
#Union 

a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [60]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [64]:
a.update(b,c) #Updates the set calling the update() method with union of A , B & C.
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
#Intersection 

a1 = {1,2,3,4,5}
b1 = {4,5,6,7,8}

In [67]:
a1 & b1 #intersection of a and b (common items in both sets)

{4, 5}

In [68]:
a1.intersection(b)

{4, 5}

In [70]:
a1.intersection_update(b1)
a1

{4, 5}

In [71]:
a1 = {1,2,3,4,5}
b1 = {4,5,6,7,8}

In [72]:
a1 - b1

{1, 2, 3}

In [73]:
a1.difference(b1)

{1, 2, 3}

In [74]:
a1-b1 # set of elements that are only in a1 but not in b1

{1, 2, 3}

In [75]:
b1-a1

{6, 7, 8}

In [76]:
b1.difference(a1)

{6, 7, 8}

In [78]:
# Updates the set calling the difference_update() method with the difference of se
# For below example Set B will be updated

b1.difference_update(a1)
b1

{6, 7, 8}

In [79]:
#Symmetric difference

a1, b1

({1, 2, 3, 4, 5}, {6, 7, 8})

In [80]:
b1 = {4,5,6,7,8}

In [81]:
a1 ^ b1

{1, 2, 3, 6, 7, 8}

In [82]:
a1.symmetric_difference(b1) #symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [85]:
# Updates the set calling the symmetric_difference_update() method with the symmetric difference
# For below example Set A will be updated with the symmetric difference of A & B.

a1.symmetric_difference_update(b1)
a1

{1, 2, 3, 4, 5}

In [86]:
#superset, subset and disjoint

a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40}

In [87]:
b.issubset(a)

True

In [89]:
a.issuperset(b)

True

In [90]:
c.isdisjoint(a)

True

In [91]:
b.isdisjoint(a)

False

In [ ]:
#Dictionary

In [92]:
dt = dict() #empty dictionary

dt = {}
dt

{}

In [ ]:
dt = {1:"one", 2:"two", 3:"three"}

In [ ]:
dt = dt({1:"one", 2:"two", 3:"three"}) #create a dictionary using dict()

In [93]:
dt1 = {"A":"one", "B":"two", "C":"three"}
dt1

{'A': 'one', 'B': 'two', 'C': 'three'}

In [94]:
dt1.keys()

dict_keys(['A', 'B', 'C'])

In [95]:
dt.values()

dict_values([])

In [96]:
dt.items()

dict_items([])

In [98]:
dt = {3:'three' , 4:'four' , 'B':['saif' , 'ali' , 'khan']} #mixeed values
dt

{3: 'three', 4: 'four', 'B': ['saif', 'ali', 'khan']}

In [100]:
keys = {"a", "b", "c", "d"}
dt3 = dict.fromkeys(keys)
dt3

{'d': None, 'c': None, 'b': None, 'a': None}

In [102]:
keys = {1,2,3,4}
values = {"one", "two", "three", "four"}
dt4 = dict.fromkeys(keys, values)
dt4

{1: {'four', 'one', 'three', 'two'},
 2: {'four', 'one', 'three', 'two'},
 3: {'four', 'one', 'three', 'two'},
 4: {'four', 'one', 'three', 'two'}}

In [103]:
#Accessing items

dt

{3: 'three', 4: 'four', 'B': ['saif', 'ali', 'khan']}

In [105]:
dt[4]

'four'

In [106]:
dt.get("B")

['saif', 'ali', 'khan']

In [111]:
dt2 = {"Name":"Asif", "ID" : 74123, "DOB" : 1991, "Job":"Analyst", "Address" : "Delhi"}
dt2

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 1991,
 'Job': 'Analyst',
 'Address': 'Delhi'}

In [112]:
dt2["Name"]

'Asif'

In [113]:
dt2.get("Job")

'Analyst'

In [115]:
dt2["DOB"] = 1998
dt2["Address"] = "Hyderabad"
dt2

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 1998,
 'Job': 'Analyst',
 'Address': 'Hyderabad'}

In [116]:
dt2.pop("Job")
dt2

{'Name': 'Asif', 'ID': 74123, 'DOB': 1998, 'Address': 'Hyderabad'}

In [119]:
dt2.popitem()

('Address', 'Hyderabad')

In [118]:
dt2

{'Name': 'Asif', 'ID': 74123, 'DOB': 1998, 'Address': 'Hyderabad'}

In [120]:
del dt2["ID"]

In [121]:
dt2.clear()

In [122]:
del dt2
dt2

NameError: name 'dt2' is not defined

In [123]:
#Copy Dictionary

dt4 =  {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
dt4

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [124]:
dt5 = dt4

In [125]:
id(dt5), id(dt4)

(2338505463104, 2338505463104)

In [127]:
dt6 = dt4.copy()
dt6

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [128]:
id(dt6)

2338505490176

In [129]:
dt4["Address"] = "Mumbai"

In [130]:
dt5

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [133]:
#Looping through a dictionary

for i in dt5:
    print(i, ":", dt5[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [135]:
for i in dt5:
    print(i)

Name
ID
DOB
Address

In [137]:
#Dictionary Membership

"Name" in dt5

True

In [138]:
"Asif" in dt5

False

In [139]:
"ID" in dt5

True