In [22]:
import pandas as pd

In [23]:
movies = pd.read_csv(r"C:\Users\vineet\Desktop\archive(1)\movie.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
movies.shape

(27278, 3)

In [25]:
tags = pd.read_csv(r"C:\Users\vineet\Desktop\archive(1)\tag.csv")
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [26]:
tags.shape

(465564, 4)

In [27]:
ratings = pd.read_csv(r"C:\Users\vineet\Desktop\archive(1)\rating.csv")

In [28]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [29]:
ratings.shape

(20000263, 4)

In [30]:
#created a cdf (columns dataframe) to see what all columns are there in the three datasets that are common and keep
#a record somewhere
cdf = pd.DataFrame([movies.columns,tags.columns,ratings.columns])
cdf

         0        1       2          3
0  movieId    title  genres       None
1   userId  movieId     tag  timestamp
2   userId  movieId  rating  timestamp

In [31]:
a = ["movies", "tags", "ratings"]
cdf.insert(0,"df",a)
cdf

        df        0        1       2          3
0   movies  movieId    title  genres       None
1     tags   userId  movieId     tag  timestamp
2  ratings   userId  movieId  rating  timestamp

In [ ]:
del ratings['timestamp']
del tags['timestamp']

KeyError: 'timestamp'

In [39]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [40]:
row_0

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [41]:
row_0['userId']

np.int64(18)

In [42]:
row_0['tag']

'Mark Waters'

In [43]:
"rating" in row_0

False

In [44]:
row_0.name

0

In [46]:
column_0 = tags.iloc[:,0]
type(column_0)

pandas.core.series.Series

In [66]:
x = tags.iloc[3:10,1:3]
x

   movieId               tag
3      521     noir thriller
4      592         dark hero
5      668         bollywood
6      898  screwball comedy
7     1248     noir thriller
8     1391              mars
9     1617          neo-noir

In [63]:
type(x)

pandas.core.frame.DataFrame

In [64]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [65]:
column_0

0             18
1             65
2             65
3             65
4             65
           ...
465559    138446
465560    138446
465561    138446
465562    138446
465563    138472
Name: userId, Length: 465564, dtype: int64

In [67]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [68]:
column_0.index?

Type:        RangeIndex
String form: RangeIndex(start=0, stop=465564, step=1)
Length:      465564
File:        c:\users\vineet\appdata\local\programs\python\python312\lib\site-packages\pandas\core\indexes\range.py
Docstring:
Immutable Index implementing a monotonic integer range.

RangeIndex is a memory-saving special case of an Index limited to representing
monotonic ranges with a 64-bit dtype. Using RangeIndex may in some instances
improve computing speed.

This is the default index type used
by DataFrame and Series when no explicit index is provided by the user.

Parameters
----------
start : int (default: 0), range, or other RangeIndex instance
    If int and "stop" is not given, interpreted as "stop" instead.
stop : int (default: 0)
step : int (default: 1)
dtype : np.int64
    Unused, accepted for homogeneity with other index types.
copy : bool, default False
    Unused, accepted for homogeneity with other index types.
name : object, optional
    Name to be stored in the index.

Attributes
----------
start
stop
step

Methods
-------
from_range

See Also
--------
Index : The base pandas Index type.

Examples
--------
>>> list(pd.RangeIndex(5))
[0, 1, 2, 3, 4]

>>> list(pd.RangeIndex(-2, 4))
[-2, -1, 0, 1, 2, 3]

>>> list(pd.RangeIndex(0, 10, 2))
[0, 2, 4, 6, 8]

>>> list(pd.RangeIndex(2, -10, -3))
[2, -1, -4, -7]

>>> list(pd.RangeIndex(0))
[]

>>> list(pd.RangeIndex(1, 0))
[]

In [ ]:
column_0.index

RangeIndex(start=0, stop=465564, step=1)

In [71]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [72]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [74]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [75]:
tags.iloc[[90,398,732]]

     userId  movieId         tag
90      121    35836  sex comedy
398     342     4848     BORING!
732     348    67801     netflix

In [76]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [88]:
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [77]:
ratings.dtypes

userId       int64
movieId      int64
rating     float64
dtype: object

In [81]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [84]:
ratings[0]

KeyError: 0

In [85]:
ratings[:,0]

InvalidIndexError: (slice(None, None, None), 0)

In [87]:
ratings.iloc[:,0]

0                1
1                1
2                1
3                1
4                1
             ...
20000258    138493
20000259    138493
20000260    138493
20000261    138493
20000262    138493
Name: userId, Length: 20000263, dtype: int64

In [91]:
ratings.iloc[140:160]["rating"]

140    4.0
141    3.5
142    5.0
143    3.5
144    4.0
145    3.5
146    4.0
147    3.5
148    4.0
149    4.0
150    3.5
151    4.0
152    3.5
153    3.5
154    3.0
155    3.5
156    3.5
157    4.0
158    5.0
159    3.5
Name: rating, dtype: float64

In [ ]:
ratings['rating'].unique()

array([3.5, 4. , 3. , 4.5, 5. , 2. , 1. , 2.5, 0.5, 1.5])

In [93]:
ratings[ratings["rating"] == 5.]

          userId  movieId  rating
131            1     4993     5.0
142            1     5952     5.0
158            1     7153     5.0
170            1     8507     5.0
176            2       62     5.0
...          ...      ...     ...
20000230  138493    48780     5.0
20000244  138493    55269     5.0
20000245  138493    55814     5.0
20000251  138493    59784     5.0
20000261  138493    70286     5.0

[2898660 rows x 3 columns]

In [ ]:
ratings['rating'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'count'