In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [4]:
np.random.seed(45)


data = {
    "product_id":range(1,21),
    "product_name": [f'Product{i}' for i in range(1,21)],
    "category":np.random.choice(["Electronics", "Clothing", "Home", "Sports"], 20),
    "units_sold": np.random.poisson(lam = 20, size = 20),
    "sale_date":pd.date_range(start = '2023-01-01', periods = 20, freq = "D"), 
}

sales_data = pd.DataFrame(data)
sales_data.head()

   product_id product_name     category  units_sold  sale_date
0           1     Product1       Sports          26 2023-01-01
1           2     Product2         Home          22 2023-01-02
2           3     Product3       Sports          19 2023-01-03
3           4     Product4  Electronics          20 2023-01-04
4           5     Product5  Electronics          16 2023-01-05

In [7]:
sales_data.to_csv("sales_data.csv", index = False)

In [8]:
import os
os.getcwd()

'c:\\Users\\vineet\\Desktop\\Pyhtonshit\\DailyClassroomNotes'

In [10]:
descriptive_stats = sales_data.units_sold.describe()
descriptive_stats

count    20.00000
mean     21.55000
std       4.22368
min      15.00000
25%      18.25000
50%      22.50000
75%      25.00000
max      28.00000
Name: units_sold, dtype: float64

In [ ]:
#Additional stats

mean_sales = sales_data.units_sold.mean()
median_sales = sales_data.units_sold.median()
mode_sales = sales_data.units_sold.mode()[0]
variance_sales = sales_data.units_sold.var()
std_deviation_sales = sales_data.units_sold.std()


category_stats = sales_data.groupby("category")["units_sold"].agg(["sum", "mean", "std"]).reset_index()
category_stats.columns = ["Category", "Total Units Sold", "Average Units Sold", "Std Dev of Units Sold"]

print("\nStatistical Analysis:")
print(f"Mean Units Sold: {mean_sales}")
print(f"Median Units Sold: {median_sales}")
print(f"Mode Units Sold: {mode_sales}")
print(f"Variance of Units Sold: {variance_sales}")
print(f"Standard Deviation of Units Sold: {std_deviation_sales}")
print("\nCategory Statistics")
print(category_stats)

      category  sum       mean       std
0     Clothing  149  24.833333  1.834848
1  Electronics  104  20.800000  4.438468
2         Home   62  20.666667  5.131601
3       Sports  116  19.333333  4.273952