In [1]:
import numpy as np

np.random.randint(20,30,10)

array([29, 28, 26, 25, 23, 27, 20, 21, 20, 25], dtype=int32)

In [2]:
np.random.randint(4,90)

26

In [4]:
#creates 10 x 10 matrix
np.random.randint(10,40,(10,10))

array([[22, 17, 18, 11, 24, 36, 18, 12, 15, 22],
       [38, 11, 15, 16, 35, 30, 20, 14, 12, 22],
       [20, 28, 25, 33, 14, 13, 25, 21, 27, 34],
       [38, 35, 20, 24, 29, 17, 39, 11, 21, 22],
       [13, 36, 10, 25, 26, 25, 10, 16, 30, 25],
       [31, 26, 31, 22, 23, 11, 30, 21, 26, 30],
       [13, 26, 38, 37, 30, 29, 31, 22, 18, 11],
       [17, 12, 27, 24, 36, 17, 19, 31, 12, 15],
       [35, 15, 37, 39, 11, 16, 21, 14, 17, 32],
       [10, 11, 20, 16, 30, 24, 24, 20, 32, 32]], dtype=int32)

In [7]:
np.random.randint(1,100,(12,12))

array([[63, 17, 89, 41,  5, 51, 33,  5, 65, 89, 35, 82],
       [43, 58, 82, 30, 16, 40, 29, 72, 86, 97, 41, 26],
       [79, 56, 10, 73, 95, 78, 63, 60, 71, 94, 17, 80],
       [69, 65, 85, 97, 98, 83, 66, 50, 76, 93, 17, 68],
       [64, 57, 77, 16, 91, 62, 19, 42, 94, 69, 12, 82],
       [50, 87, 94, 94, 80, 87,  5, 79, 97, 66, 11, 86],
       [ 6, 28, 69, 63, 44, 63, 14, 80, 70, 32, 79,  8],
       [62,  8, 11, 55, 88, 99, 74, 46, 75, 95, 56, 15],
       [25, 42, 74, 27, 55, 60, 37, 78, 83, 34, 49, 35],
       [88, 68, 10,  5, 76, 72, 72, 46, 30, 73, 89, 98],
       [80, 20, 44, 28, 92, 27,  9, 56, 81, 69,  8, 10],
       [73, 41, 77, 21, 19,  4, 79, 16, 44, 23, 23, 93]], dtype=int32)

In [12]:
np.arange(10,40).reshape(5,6) #reshape dimension should match with array size

array([[10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21],
       [22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33],
       [34, 35, 36, 37, 38, 39]])

In [13]:
np.arange(10,40).reshape(5,4)

ValueError: cannot reshape array of size 30 into shape (5,4)

In [16]:
np.arange(1,13).reshape(12,1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [17]:
np.arange(20,20).reshape(2,2)

ValueError: cannot reshape array of size 0 into shape (2,2)

In [20]:
b = np.random.randint(10,20,(5,4))
b

array([[14, 18, 17, 10],
       [14, 11, 10, 13],
       [14, 17, 12, 13],
       [19, 13, 13, 14],
       [10, 19, 18, 15]], dtype=int32)

In [21]:
type(b)

numpy.ndarray

In [22]:
b.dtype

dtype('int32')

In [23]:
b.size

20

In [24]:
b.ndim

2

In [25]:
#Slicing

b[:]

array([[14, 18, 17, 10],
       [14, 11, 10, 13],
       [14, 17, 12, 13],
       [19, 13, 13, 14],
       [10, 19, 18, 15]], dtype=int32)

In [26]:
b[1:3] #2nd and 3rd row

array([[14, 11, 10, 13],
       [14, 17, 12, 13]], dtype=int32)

In [27]:
b[1,2] #index

np.int32(10)

In [28]:
b[1,3]

np.int32(13)

In [29]:
b[1,-1]

np.int32(13)

In [30]:
b[2:3]

array([[14, 17, 12, 13]], dtype=int32)

In [32]:
b[0:-2]

array([[14, 18, 17, 10],
       [14, 11, 10, 13],
       [14, 17, 12, 13]], dtype=int32)

In [33]:
b[-5,-3]

np.int32(18)

In [34]:
b

array([[14, 18, 17, 10],
       [14, 11, 10, 13],
       [14, 17, 12, 13],
       [19, 13, 13, 14],
       [10, 19, 18, 15]], dtype=int32)

In [36]:
b[-4,2]

np.int32(10)

In [38]:
#Operations

a = np.random.randint(10,20,10)
a

array([14, 18, 14, 18, 10, 12, 18, 10, 19, 15], dtype=int32)

In [39]:
id(a)

2083330845136

In [41]:
a2 = np.random.randint(0,100,(10,10))
a2

array([[44, 65, 82, 50, 65, 61, 10, 73,  4, 48],
       [67, 66, 25, 70, 18, 16, 21, 55, 16, 40],
       [38, 95, 35,  7,  2, 19, 48, 47, 11, 90],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [87, 66, 61, 95,  9, 20, 28, 86, 87,  4],
       [18, 75, 58, 59, 48, 48, 27, 37, 69, 12],
       [31, 84, 28, 49, 86, 90,  0, 77, 21, 19],
       [24, 57, 24, 90, 43, 68, 63, 40, 21,  4],
       [ 5, 99,  2, 54, 74, 29,  3, 23, 48, 85],
       [45, 30, 92, 47, 34, 95, 21, 20, 91, 86]], dtype=int32)

In [42]:
a

array([14, 18, 14, 18, 10, 12, 18, 10, 19, 15], dtype=int32)

In [43]:
a[:4]

array([14, 18, 14, 18], dtype=int32)

In [44]:
a2[:]

array([[44, 65, 82, 50, 65, 61, 10, 73,  4, 48],
       [67, 66, 25, 70, 18, 16, 21, 55, 16, 40],
       [38, 95, 35,  7,  2, 19, 48, 47, 11, 90],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [87, 66, 61, 95,  9, 20, 28, 86, 87,  4],
       [18, 75, 58, 59, 48, 48, 27, 37, 69, 12],
       [31, 84, 28, 49, 86, 90,  0, 77, 21, 19],
       [24, 57, 24, 90, 43, 68, 63, 40, 21,  4],
       [ 5, 99,  2, 54, 74, 29,  3, 23, 48, 85],
       [45, 30, 92, 47, 34, 95, 21, 20, 91, 86]], dtype=int32)

In [45]:
a2[0:5]

array([[44, 65, 82, 50, 65, 61, 10, 73,  4, 48],
       [67, 66, 25, 70, 18, 16, 21, 55, 16, 40],
       [38, 95, 35,  7,  2, 19, 48, 47, 11, 90],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [87, 66, 61, 95,  9, 20, 28, 86, 87,  4]], dtype=int32)

In [46]:
a2[::-1]

array([[45, 30, 92, 47, 34, 95, 21, 20, 91, 86],
       [ 5, 99,  2, 54, 74, 29,  3, 23, 48, 85],
       [24, 57, 24, 90, 43, 68, 63, 40, 21,  4],
       [31, 84, 28, 49, 86, 90,  0, 77, 21, 19],
       [18, 75, 58, 59, 48, 48, 27, 37, 69, 12],
       [87, 66, 61, 95,  9, 20, 28, 86, 87,  4],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [38, 95, 35,  7,  2, 19, 48, 47, 11, 90],
       [67, 66, 25, 70, 18, 16, 21, 55, 16, 40],
       [44, 65, 82, 50, 65, 61, 10, 73,  4, 48]], dtype=int32)

In [48]:
a2[::-2]

array([[45, 30, 92, 47, 34, 95, 21, 20, 91, 86],
       [24, 57, 24, 90, 43, 68, 63, 40, 21,  4],
       [18, 75, 58, 59, 48, 48, 27, 37, 69, 12],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [67, 66, 25, 70, 18, 16, 21, 55, 16, 40]], dtype=int32)

In [49]:
a2[::-3]

array([[45, 30, 92, 47, 34, 95, 21, 20, 91, 86],
       [31, 84, 28, 49, 86, 90,  0, 77, 21, 19],
       [37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [44, 65, 82, 50, 65, 61, 10, 73,  4, 48]], dtype=int32)

In [50]:
a2[3:]

array([[37, 41, 89, 89, 23, 44, 98, 88,  7, 24],
       [87, 66, 61, 95,  9, 20, 28, 86, 87,  4],
       [18, 75, 58, 59, 48, 48, 27, 37, 69, 12],
       [31, 84, 28, 49, 86, 90,  0, 77, 21, 19],
       [24, 57, 24, 90, 43, 68, 63, 40, 21,  4],
       [ 5, 99,  2, 54, 74, 29,  3, 23, 48, 85],
       [45, 30, 92, 47, 34, 95, 21, 20, 91, 86]], dtype=int32)

In [52]:
a2.max()

np.int32(99)

In [53]:
a2.min()

np.int32(0)

In [55]:
#Numpy has 217 inbuilt functions.
from numpy import *
a

array([14, 18, 14, 18, 10, 12, 18, 10, 19, 15], dtype=int32)

In [56]:
median(a)

np.float64(14.5)

In [59]:
#Reshaping - 3 format 
# order c
# order a 
# order f

a.reshape(5,2)

array([[14, 18],
       [14, 18],
       [10, 12],
       [18, 10],
       [19, 15]], dtype=int32)

In [64]:
af = random.randint(0,10,(1,10))
af

array([[2, 0, 2, 4, 5, 9, 6, 4, 4, 9]], dtype=int32)

In [68]:
af.reshape(5,2, order = "c")

array([[2, 0],
       [2, 4],
       [5, 9],
       [6, 4],
       [4, 9]], dtype=int32)

In [67]:
af.reshape(5,2, order = "A")

array([[2, 0],
       [2, 4],
       [5, 9],
       [6, 4],
       [4, 9]], dtype=int32)

In [69]:
af.reshape(5,2,order ="f")

array([[2, 9],
       [0, 6],
       [2, 4],
       [4, 4],
       [5, 9]], dtype=int32)

In [71]:
mat = np.arange(0,100).reshape(10,10)
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [72]:
mat[4,5]

np.int64(45)

In [73]:
mat[6]

array([60, 61, 62, 63, 64, 65, 66, 67, 68, 69])

In [74]:
mat[:,6]  #6th columns

array([ 6, 16, 26, 36, 46, 56, 66, 76, 86, 96])

In [75]:
mat[:,4] #4th column

array([ 4, 14, 24, 34, 44, 54, 64, 74, 84, 94])

In [76]:
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [77]:
mat[2:6, 2:4]

array([[22, 23],
       [32, 33],
       [42, 43],
       [52, 53]])

In [79]:
mat[1:2,2:4]

array([[12, 13]])

In [80]:
mat[2:3, 2:3]

array([[22]])

In [81]:
mat[2:4, 3:5]

array([[23, 24],
       [33, 34]])

In [82]:
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [83]:
id(mat)

2083336514576

In [84]:
#filters in matrix
#number less than 50

mat < 50

array([[ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False]])

In [86]:
mat[mat <= 50]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [87]:
mat[mat > 50]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [88]:
mat[mat != 50]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])